@font-face {
    font-family: 'RobotoBlack';
    src: url('../fonts/roboto/Roboto-Black.ttf');
}

@font-face {
    font-family: 'RobotoBlackItalic';
    src: url('../fonts/roboto/Roboto-BlackItalic.ttf');
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'RobotoBoldItalic';
    src: url('../fonts/roboto/Roboto-BoldItalic.ttf');
}

@font-face {
    font-family: 'RobotoItalic';
    src: url('../fonts/roboto/Roboto-Italic.ttf');
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: 'RobotoLightItalic';
    src: url('../fonts/roboto/Roboto-LightItalic.ttf');
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'RobotoMediumItalic';
    src: url('../fonts/roboto/Roboto-MediumItalic.ttf');
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'RobotoThin';
    src: url('../fonts/roboto/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'RobotoThinItalic';
    src: url('../fonts/roboto/Roboto-ThinItalic.ttf');
}
