.container-base {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 15px 0;

    .item-base {

    }

    @media (max-width: 599.98px) and (orientation: portrait), (max-width: 959.98px) and (orientation: landscape) {
        flex-direction: column;
        gap: 10px;
    }
}

.container-supp {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    
    @media (max-width: 599.98px) and (orientation: portrait), (max-width: 959.98px) and (orientation: landscape) {
        flex-direction: column;
        gap: 10px;
    }
}

.container-social {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;

    svg {
        fill: #b1b1b1;
        cursor: pointer;

        &:hover {
            fill: #FFA500;
        }
    }
}

.pp {
    font-size: 12px;
    cursor: pointer;
    text-decoration: underline;
    color: #FFA500;
}

.ppp {
    text-decoration: none;
    cursor: auto;
}
