@keyframes toggle {
    0%, 33.33% {
        fill: #55565a;
    }
    33.34%, 66.66% {
        fill: #f98f00ff;
    }
    66.67%, 100%{
        fill: #f2d082ff;
    }
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    #circle6515 {
        animation: toggle 2s infinite;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        gap: 30px;
        list-style-type: none;

        .nav-item {
            font-family: CustomFont, serif;
            font-size: 15px;
            list-style: none;

            .nav-link {
                color: #55565aff;
                text-decoration: none;

                &:hover {
                    color: #f98f00ff;
                }
            }
        }
    }

    .nav-hamburger {
        cursor: pointer;
        transition: transform 0.2s;

        &:active {
            transform: scale(0.7);
        }
    }
}
