@font-face {
    font-family: 'ComfortaaRegular';
    src: url('../fonts/comfortaa/Comfortaa-Regular.ttf');
}

@font-face {
    font-family: 'ComfortaaBold';
    src: url('../fonts/comfortaa/Comfortaa-Bold.ttf');
}

@font-face {
    font-family: 'ComfortaaLight';
    src: url('../fonts/comfortaa/Comfortaa-Light.ttf');
}
