<div class="container-base">
    <p class="item-base question">
        ¿Te gustaría recibir este sistema completo de
        <strong id="s1">altísima calidad </strong>
        y de forma
        <strong id="s2">totalmente gratuita</strong> en formato PDF?
    </p>

    <div class="item-base container-correo">
        <input placeholder="ingresa tu correo electrónico" class="item-correo" [(ngModel)]="value">

        <p class="item-correo">
            Una vez que hayas solicitado el Sistema RT, recibirás un correo electrónico de confirmación en la dirección
            proporcionada. Es importante que verifiques tu correo electrónico para recibir el enlace de descarga del
            sistema completo.
        </p>

        <p class="item-correo">
            Después de verificar tu correo electrónico, recibirás otro correo con el enlace de descarga del Sistema RT.
            Este enlace te llevará a un paquete que incluye el archivo PDF.
        </p>

        <p class="item-correo">
            Si necesitas ayuda en algún momento, no dudes en ponerte en contacto con nuestro equipo de soporte. ¡Gracias
            por elegir el Sistema RT!
        </p>

        <button class="item-correo" (click)="send()">
            Solicitar
        </button>
    </div>
</div>

