.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    user-select: none;

    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        z-index: 9999;
    }

    .drawer {
        position: absolute;
        top: 0;
        left: 0;
        width: 75vw;
        max-height: 100vh; // Limita la altura máxima al 100% de la altura de la ventana
        overflow-y: auto; // Muestra una barra de desplazamiento cuando el contenido se desborda
        background: #2e3349ff;
        border: none;
        z-index: 12000;
    }

    .logo {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        @keyframes sequential-color {
            0%, 33.33% {
                fill: #55565a;
            }
            33.34%, 66.66% {
                fill: #f98f00ff;
            }
            66.67%, 100% {
                fill: #f2d082ff;
            }
        }

        #circle {
            animation: sequential-color 2s infinite;
        }
    }

    .burger {
        display: flex;
        align-items: center;
        cursor: pointer;

        /*transition: transform 0.2s;

        &:active {
            transform: scale(0.7);
        }*/
    }
}
