<app-struct
    style="font-family: CustomFont,monospace; color: #55565aff"
    [padding]="padding"
    [drawer]="openDrawer"
    [backdoor]="openBackdoor"
    [color]="{
        footer: '#f98f00' ,
        sfooter: '#2e3349ff',
        header:'#fff',
        main:'#fff'
    }"
>
    <app-drawer
        dlg
        [links]="links"
        [drawer]="openDrawer"
        [backdoor]="openBackdoor"
        [listener]="this"
    />

    <app-header
        hdr
        [listener]="this"
        [links]="links"
    />

    <router-outlet mn/>

    <app-footer ftr/>

    <app-sfooter sftr/>
</app-struct>
