<app-structure class="struct" style="font-family: CustomFont; color: #55565aff">
    <header hdr>
        <app-header
            [links]="links"
            [listener]="this"
        />
    </header>

    <!--<nav nav>
        <h5>Inicio / aplicaciones más buscadas / app</h5>
    </nav>-->

    <main mn>
        <router-outlet/>
        <dialog open>
            <h1>hola</h1>
        </dialog>
    </main>

    <footer ftr>
        <app-footer/>
    </footer>

    <footer sftr>
        <app-sfooter/>
    </footer>

    <dialog dwr class="floating" id="alert-dialog" [open]="openDrawer">
        <app-drawer [links]="links" [open]="openDrawer"/>
    </dialog>
</app-structure>
