.container { // cabecera de la aplicación
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    height: 70px;

    .logo { // logo de la aplicación
        @keyframes sequential-color {
            0%, 33.33% {
                fill: #55565a;
            }
            33.34%, 66.66% {
                fill: #f98f00ff;
            }
            66.67%, 100% {
                fill: #f2d082ff;
            }
        }

        #circle {
            animation: sequential-color 2s infinite;
        }
    }

    .menu { // menú de la aplicación en modo escritorio
        display: flex;
        flex-direction: row;
        gap: 30px;
        list-style-type: none;
        height: 100%;

        .item {
            font-family: CustomFont, serif;
            font-size: 15px;
            text-decoration: none;
            color: #55565aff;
            user-select: none;

            &:hover {
                color: #f98f00ff;
            }
        }
    }

    .hamburger { // icono hamburguesa en modo dispositivo móvil
        display: flex;
        flex-direction: column;
        justify-items: center;
        padding: 10px 0;

        cursor: pointer;
        transition: transform 0.2s;

        &:active {
            transform: scale(0.7);
        }
    }
}
