.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    p {
        /*display: block;*/
        color: #ccc;
        font-family: RobotoLight, serif;
        font-size: 12px;
        padding: 10px 40px;
        margin: 0 auto;
    }
}

.container-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;


    .logo {
        width: 100%;
        padding: 20px 0;
        background-color: #1e2130;
        svg{
            display: block;
            margin: 0 auto;
        }
    }

    .nav-ul {
        display: flex;
        flex-direction: column;

        .nav-li {
            list-style: none;
            padding: 10px 40px;
            width: 100%;
            cursor: pointer;
            color: white;
            font-family: CustomFont, monospace;
            font-size: 14px;
            text-decoration: none;
            user-select: none;

            &:hover {
                background-color: rgba(242, 208, 130, 0.09);
                color: #f98f00;
            }
        }
    }
}
