.struct {
    display: flex;
    flex-direction: column;
    position: absolute;

    .backdoor {
        position: absolute;
        inset: 0 0 0 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
    }

    .drawer {
        border: none;
        width: 70%;
        height: 100vh;
        z-index: 99999999999;
        background-color: #2e3349ff;
        position: fixed;
    }

    .header {
        position: sticky;
        top: 0;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }

    .main {
        font-family: CustomFont monospace;
    }

    .footer {

    }

    .sfooter {

    }
}
