.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;


    app-menu {

    }

    p {
        align-self: center;
        padding: 10px;
        color: #FFA500;
        font-family: RobotoLight, monospace;
        font-size: 0.85rem;
    }
}
