/* You can add global styles to this file, and also import other style files */
@import "assets/scss/colors";
@import "assets/scss/comfortaa";
@import "assets/scss/roboto";
@import "assets/scss/elegant";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ElegantFont, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body {
    overflow: var(--body-oveer-flow);
}
